/* --- Variables --- */
:root {
  --bg-main: #ffffff;
  --bg-alternate: #f5f5ff;
  --color-main: #3379c2;
  --color-main-rgb: rgb(51, 121, 194);
  --color-heading: #34375a;
  --color-text: #5d5f7b;

  --shadow-main: 0 20px 40px 0 rgba(102, 126, 234, 0.5);

  --section-title: 42px;
  --section-subtitle: 18px;
  --cards-heading: 24px;
}

/* --- Basic Styles --- */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--bg-main);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* --- Header --- */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  font-size: 25px;
}

.logo-dr {
  width: 43px;
  aspect-ratio: 1;
  align-content: center;
  color: var(--bg-main);
  text-align: center;
  background-color: var(--color-main);
  border: 1px solid var(--bg-main);
  box-shadow: 0 0 5px 1px var(--color-main);
}

.logo-surname {
  color: var(--color-main);
}

.nav {}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  color: var(--color-heading);
}

.nav-item {}

.nav-link {}

/* --- Hero Section --- */
.hero-section {
  position: relative;
  background-color: var(--bg-alternate);
  overflow: hidden;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shape {
  position: absolute;
  border-radius: 150px;
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s ease-out;
  will-change: transform;
}

.shape-1 {
  --opacity: 0.3;
  top: 20%;
  left: -20%;
  width: 30vw;
  height: 7vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-2 {
  --opacity: 0.15;
  top: 80%;
  left: -20%;
  z-index: 1;
  width: 25vw;
  height: 4vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-3 {
  top: 55%;
  left: -10%;
  width: 50vw;
  height: 12vw;
  background: var(--bg-main);
  transform: rotate(-45deg);
}

.shape-4 {
  --opacity: 0.2;
  top: 10%;
  left: 65%;
  width: 25vw;
  height: 8vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-5 {
  --opacity: 0.1;
  top: 50%;
  left: 85%;
  width: 30vw;
  height: 5vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-6 {
  --opacity: 0.2;
  top: 90%;
  left: 40%;
  width: 20vw;
  height: 7vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.hero-container {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 10vw;
}

.hero-info {
  align-self: center;
  width: 30vw;
}

.hero-title {
  margin-bottom: 20px;
  font-size: 52px;
  line-height: 65px;
  color: var(--color-heading);
}

.hero-subtitle {
  margin-bottom: 50px;
  font-size: var(--section-subtitle);
}

.btn {
  padding: 15px 40px;
  color: var(--bg-main);
  background-color: var(--color-main);
  border: none;
  border-radius: 60px;
  box-shadow: var(--shadow-main);
}

.hero-img-wrapper {
  position: relative;
  width: 30vw;
  aspect-ratio: 1;
  margin-bottom: 120px;
}

.hero-img-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: var(--color-main);
  border-radius: 50px;
}

.hero-img {
  position: relative;
  width: 100%;
}