/* --- Variables --- */
:root {
  --bg-main: #ffffff;
  --bg-alternate: #f5f5ff;
  --color-main: #667eea;
  --color-main-rgb: rgb(102, 126, 234);
  --color-heading: #34375a;
  --color-text: #5d5f7b;
  --color-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  --shadow-main: 0 20px 40px 0 rgba(102, 126, 234, 0.5);

  --section-title: 42px;
  --section-subtitle: 18px;
  --cards-heading: 24px;

  --transition: all .3s ease;
}

/* --- Basic Styles --- */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--bg-main);
  cursor: default;
  /* overflow-x: hidden; */
}

hr {
  opacity: .5;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}

.section-title {
  margin-bottom: 40px;
  font-size: var(--section-title);
  font-weight: 500;
  text-align: center;
  color: var(--color-main);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  color: var(--bg-main);
  background: var(--color-btn-bg);
  border: none;
  border-radius: 60px;
  box-shadow: var(--shadow-main);
  transition: var(--transition);
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  filter: brightness(1.1) saturate(1.2);
  box-shadow: 0px 0px 20px 20px rgba(102, 126, 234, 0.4);
}

/* --- Header --- */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  font-size: 25px;
}

.logo-dr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  aspect-ratio: 1;
  color: var(--bg-main);
  text-align: center;
  background: var(--color-btn-bg);
  border: 1px solid var(--bg-main);
  box-shadow: 0 0 5px 1px var(--color-main);
}

.logo-surname {
  color: var(--color-main);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  color: var(--color-heading);
}

.nav-link {
  line-height: 80px;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--color-main);
}

/* --- Mobile menu button --- */
.menu-toggle {
  position: relative;
  z-index: 1000;
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle:hover span,
.menu-toggle:hover span::before,
.menu-toggle:hover span::after {
  background: var(--color-main);
}

.menu-toggle span {
  position: relative;
  display: block;
  width: 75%;
  height: 3px;
  background: var(--color-heading);
  border-radius: 3px;
  transition: var(--transition);
}

.menu-toggle span::before,
.menu-toggle span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-heading);
  border-radius: 3px;
  transition: var(--transition);
}

.menu-toggle span:before {
  top: -8px;
}

.menu-toggle span:after {
  bottom: -8px;
}

.menu-toggle.active span {
  background: transparent;
}

.menu-toggle.active span:before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle.active span:after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* --- Hero Section --- */
.hero {
  position: relative;
  background-color: var(--bg-alternate);
  overflow: hidden;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shape {
  position: absolute;
  border-radius: 150px;
}

.shape-1 {
  --opacity: 0.3;
  top: 20%;
  left: -20%;
  width: 30vw;
  height: 7vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-2 {
  --opacity: 0.15;
  top: 80%;
  left: -20%;
  z-index: 1;
  width: 25vw;
  height: 4vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-3 {
  top: 55%;
  left: -10%;
  width: 50vw;
  height: 12vw;
  background: var(--bg-main);
  transform: rotate(-45deg);
}

.shape-4 {
  --opacity: 0.2;
  top: 10%;
  left: 65%;
  width: 25vw;
  height: 8vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-5 {
  --opacity: 0.1;
  top: 50%;
  left: 85%;
  width: 30vw;
  height: 5vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.shape-6 {
  --opacity: 0.2;
  top: 90%;
  left: 40%;
  width: 20vw;
  height: 7vw;
  background: transparent;
  opacity: var(--opacity);
  border: 7px solid var(--color-main);
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}

.hero-info {
  align-self: center;
  width: 45%;
}

.hero-title {
  margin-bottom: 20px;
  font-size: 3vw;
  line-height: 3.5vw;
  color: var(--color-heading);
}

.hero-subtitle {
  margin-bottom: 50px;
  font-size: var(--section-subtitle);
}

.hero-img-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 30vw;
  aspect-ratio: 1;
  margin-right: 120px;
  margin-bottom: 80px;
}

.hero-img-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: var(--color-btn-bg);
  border-radius: 25px;
}

.hero-img {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* --- About Section --- */
.about-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.about-left-wrapper,
.about-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1;
  max-width: 400px;
}

.about-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  padding: 20px;
  font-size: var(--cards-heading);
  color: var(--color-heading);
  text-align: center;
  border-radius: 20px;
}

.about-card-pic {
  width: 220px;
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-card-pic:nth-child(1) {
  background-image: url(https://placehold.ru/220);
}

.about-card-pic:nth-child(2) {
  background-image: url(https://placehold.ru/220);
}

.about-card-pic:nth-child(3) {
  background-image: url(https://placehold.ru/220);
}

.about-card-pic:nth-child(4) {
  background-image: url(https://placehold.ru/220);
}

.about-divider {
  position: relative;
  width: 2px;
  background-color: #aeafbd;
}

.about-divider .circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  aspect-ratio: 1;
  background-color: #aeafbd;
  border: 10px solid var(--bg-main);
  border-radius: 50%;
  z-index: 2;
}

/* --- Services Section --- */
.services {
  background-color: var(--bg-alternate);
}

.services-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.services-card {
  flex: 1 0 calc(33.333% - 40px);
  min-width: 250px;
  text-align: center;
}

.services-card-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  aspect-ratio: 1;
  margin: 0 auto 40px auto;
  border-radius: 20px;
  box-shadow: 25px 25px 63px 0 rgba(102, 126, 234, 0.16);
}

/* .services-card-icon {
  color: white;
  font-size: 40px;
} */

.services-card-title {
  margin-bottom: 10px;
  color: var(--color-heading);
  font-size: var(--cards-heading);
  font-weight: 500;
}

/* .services-card-desc {
  line-height: 1.6;
  color: var(--color-text);
} */

/* --- Reviews Section --- */
.swiper-slide {
  padding-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* .swiper-slide > div:not(img) {
  padding: 20px;
  color: var(--color-heading);
  font-size: var(--section-subtitle);
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.swiper-pagination {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-color: #34375a;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: #34375a;
/*   --swiper-navigation-size: 30px; */
}

/* --- FAQ Section --- */
.faq {
  background-color: var(--bg-alternate);
}

.accordion-trigger {
  position: relative;
  width: 100%;
  padding: 20px 25px;
  text-align: left;
  color: var(--color-heading);
  font-size: var(--cards-heading);
  background-color: transparent;
  border: none;
  transition: var(--transition);
}

.accordion-trigger:hover {
  color: var(--color-main);
}

.accordion-trigger:hover .accordion-sign {
  background-color: var(--color-main);
}

.accordion-sign {
  position: absolute;
  top: 38px;
  right: 25px;
  width: 16px;
  height: 2px;
  background-color: var(--color-heading);
  transition: var(--transition);
}

.accordion-sign:nth-child(2) {
  transform: rotate(90deg);
}

.accordion-item.is-active .accordion-sign:nth-child(1) {
  transform: rotate(180deg);
}

.accordion-item.is-active .accordion-sign:nth-child(2) {
  transform: rotate(180deg);
}

.accordion-panel {
  overflow: hidden;
}

.accordion-text {
  padding: 20px 25px;
  font-size: var(--section-subtitle);
  line-height: 32px;
}

/* --- Contacts Section --- */
.contacts-content {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.contacts-subtitle {
  margin-bottom: 40px;
  line-height: 1.4;
  font-size: var(--section-subtitle);
  color: var(--color-heading);
}

.contacts-instagram-link {
  gap: 20px;
  margin-bottom: 20px;
}

.instagram-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  aspect-ratio: 1;
}

.instagram-icon {
  width: 100%;
  height: 100%;
}

.instagram-text {
  letter-spacing: 0.5px;
}

/* --- Footer --- */
.footer {
  background: var(--bg-alternate);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.youtube-icon,
.tiktok-icon,
.instagram-icon,
.telegram-icon {
  width: 24px;
  height: 24px;
  transition: var(--transition);
}

.socials a:hover .youtube-icon,
.socials a:hover .tiktok-icon,
.socials a:hover .instagram-icon,
.socials a:hover .telegram-icon {
  transform: scale(1.1);
  color: var(--color-main);
}

/* --- Adaprive --- */
@media (width <= 1024px) {
  :root {
    --section-title: 36px;
    --section-subtitle: 16px;
    --cards-heading: 20px;
  }

  /* --- Hero Section --- */
  .hero-container {
    flex-direction: column;
    gap: 60px;
  }

  .hero-info {
    width: 100%;
    text-align: center;
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.3;
  }

  .hero-img-wrapper {
    width: 300px;
    margin: 0 auto;
  }

  /* --- About Section --- */
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-divider {
    display: none;
  }

  .about-left-wrapper,
  .about-right-wrapper {
    max-width: 100%;
  }

  /* --- Services Section --- */
  .services-card {
    flex: 1 0 calc(50% - 30px);
  }

  /* --- Reviews Section --- */
  .swiper {
    padding: 0 40px;
  }
}

@media (width <= 768px) {
  :root {
    --section-title: 28px;
    --section-subtitle: 14px;
    --cards-heading: 18px;
  }

  .container {
    padding: 20px 15px;
  }

  /* --- Header --- */
  .header-container {
    height: 60px;
    padding: 0 15px;
  }

  .logo-wrapper {
    font-size: 20px;
  }

  .logo-dr {
    width: 35px;
    font-size: 14px;
  }

  /* --- Menu --- */
  .menu-toggle {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: var(--bg-main);
    transition: right 0.3s ease;
  }

  .nav.active {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 0;
    padding: 20px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    text-align: center;
    border-bottom: 1px solid var(--bg-alternate);
  }

  /* --- Hero Section --- */
  .hero-container {
    padding: 40px 15px;
    gap: 40px;
  }

  .hero-title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .hero-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .hero-img-wrapper {
    width: 250px;
  }

  .shape {
    display: none;
  }

  /* --- About Section --- */
  .about {
    padding: 60px 0;
  }

  .about-card {
    min-height: 180px;
    padding: 15px;
  }

  .about-card-pic {
    width: 180px;
  }

  /* --- Services Section --- */
  .services {
    padding: 60px 0;
  }

  .services-content {
    gap: 30px;
  }

  .services-card {
    flex: 1 0 100%;
    min-width: 100%;
  }

  /* Reviews Section */
  .reviews {
    padding: 60px 0;
  }

  .swiper {
    padding: 0 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  /* --- FAQ Section --- */
  .faq {
    padding: 60px 0;
  }

  .accordion-trigger {
    padding: 15px 20px;
  }

  .accordion-sign {
    top: 28px;
    right: 20px;
  }

  .accordion-text {
    padding: 0 20px 15px;
    line-height: 1.6;
  }

  /* --- Contacts Section --- */
  .contacts {
    padding: 60px 0;
  }

  .contacts-instagram-link {
    gap: 15px;
    padding: 20px;
  }

  /* --- Footer --- */
  .footer {
    padding: 30px 0;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  :root {
    --section-title: 24px;
    --cards-heading: 16px;
  }

  .section-title {
    margin-bottom: 30px;
  }

  /* --- Hero Section --- */
  .hero-title {
    font-size: 24px;
  }

  .hero-subtitle {
    font-size: 14px;
  }

  .hero-img-wrapper {
    width: 200px;
  }

  /* --- About Section --- */
  .about-card {
    min-height: 150px;
  }

  .about-card-pic {
    width: 150px;
  }

  /* --- Reviews Section --- */
  .swiper {
    padding: 0 10px;
  }
}

/* Ландшафтная ориентация на мобильных */
/* @media (max-height: 500px) and (orientation: landscape) {
  .hero-container {
    padding: 30px 20px;
  }

  .hero-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .hero-subtitle {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .nav-list {
    padding: 10px;
  }

  .nav-link {
    line-height: 40px;
  }
} */