/* --- Variables --- */
:root {
  --bg-main: #ffffff;
  --bg-alternate: #f5f5ff;
  --color-main: #3379c2;
  --color-heading: #34375a;
  --color-text: #5d5f7b;

  --section-title: 42px;
  --section-subtitle: 18px;
  --cards-heading: 24px;
}

/* --- Basic Styles --- */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--bg-main);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
}

/* --- Header --- */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  font-size: 25px;
}

.logo-dr {
  width: 43px;
  height: 43px;
  align-content: center;
  color: var(--bg-main);
  text-align: center;
  background-color: var(--color-main);
  border: 1px solid var(--bg-main);
  box-shadow: 0 0 5px 1px var(--color-main);
}

.logo-surname {
  color: var(--color-main);
}

.nav {
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  color: var(--color-heading);
}

.nav-item {
}

.nav-link {
}